body, html {
    background-color: #fcfcfc;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.main-stage {
    padding: 0 0 125px;
}

header {
    width: 100%;
    background-color: #1a1e27;
    color: #ffffff;
    font-size: 1.5vh;
    padding: 20px 0;
    position: fixed;
}

.search-container {
    width: 80%;
    height: 40px;
    display: flex;
}

#search-input {
    flex: 6;
    color: #757b88;
    padding: 0 0 0 30px;
    -webkit-border-radius: 0;
    -webkit-border-top-left-radius: 45px;
    -webkit-border-bottom-left-radius: 45px;
    -moz-border-radius: 0;
    -moz-border-radius-topleft: 45px;
    -moz-border-radius-bottomleft: 45px;
    border-radius: 0;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}

#search-btn {
    flex: 3;
    line-height: 40px;
    background-color: tomato;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    -webkit-border-top-right-radius: 45px;
    -webkit-border-bottom-right-radius: 45px;
    -moz-border-radius-topright: 45px;
    -moz-border-radius-bottomright: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}

.grid {
    height: auto;
    width: 100%;
    padding: 135px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

.grid-cell {
    height: 425px;
    width: 220px;
    float: left;
    margin: 0 auto 50px;
    border: 1px solid #e6e6e8;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster {
    height: 325px;
    width:  auto;
    max-width: 220px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-cell > h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 15px 0 5px 0;
}

.grid-cell > p {
    font-size: 13px;
    padding-bottom: 7px;
}

.load-more-btn {
    height: 50px;
    width: 225px;
    background-color: tomato;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
}

.load-more-btn:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.toggle-visibility {
    visibility: hidden;
}

.movie-details {
    height: 100%;
    width: 100%;
    background: ghostwhite;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.err-message {
    font-size: 2.5vh;
    text-align: center;
    padding-top: 150px;
}
